<div class="admin_table">

	<div class="right" style="margin-right:2px;margin-bottom:2px">
		<button class="pure-button blue invert" ng-click="back()" ng-disabled="skip - limit < 0"><i class="fa fa-arrow-left"></i></button>
		<button class="pure-button" disabled>{{ skip / limit + 1 }}</button>
		<button class="pure-button blue invert" ng-click="next()" ng-disabled="rows.length < limit"><i class="fa fa-arrow-right"></i></button>
	</div>

	<br clear="all" />
	<table class="pure-table pure-table-bordered admin_table" style="width:{{ width }}">
	<thead class="{{ color }}">
		<tr>
			<th ng-repeat="col in columns">
				{{ col | uppercase }}
			</th>
			<td ng-if="editable || removable">
				Actions
			</td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="row in rows track by $index">
			<td ng-repeat="col in columns" style="width:{{ 100 / (columns.length+1) }}%">
				{{ row[col] }}
			</td>
			<td ng-if="editable || removable">
				<a class="orange" ng-if="editable" ui-sref="{{editState}}({id:row._id})">Edit</a>
				 <span ng-if="editable && removable">|</span> 
				<a href class="orange" ng-if="removable" ng-click="remove({ row : row, index : $index})">Remove</a>
			</td>
		</tr>
	</tbody>
	</table>
</div>